h2 {
  font-family: 'Josefin Sans', 'sans-serif';
  font-size: 2.6em;
  color: #1A1A1A;
  clear: both;
  text-decoration: none;
  text-align: center;
  margin-top: 3em;
  position: relative;
}

li.subhead {
  font-size: 1em;
  list-style: none;
  color: #f18e7b;
  font-weight: normal;
  padding: .5em;
  display: inline;
}

ul.subhead {
  padding: 0;
  margin-left: 0;
}

.table {
  display: table;
  margin: 0 auto;
}

#socialMedia {
  float: right;
}

ul li a.share {
  margin-bottom: -3em;
  margin-right: 20px;
  /*width: 50%;*/
}

p {
  font-size: 2em;
  color: #1A1A1A;
  text-decoration: none;
  text-align: left;
  padding-bottom: 50px;
  /* margin-left: 33%;
   margin-right: 30%;*/
  /*    max-width: 500px;
  */
  /*clear: both;*/
}

a {
  text-decoration: none;
}

#main img {
  padding: 5px;
}

.row {
  max-width: 85%;
}

.detail {
  float: left;
  width: 50%;
}

.process-info {
  position: absolute;
  top: 4px;
  bottom: 4px;
  right: 4px;
  left: 4px;
  opacity: 0;
  background: #333;
  transition: 0.6s ease-out;
  clear: both;
}
.process-info p {
  padding: 1rem;
}

.hover-reveal:hover .process-info {
  opacity: 0.8;
}

/******************************************
 ADDITIONAL STYLES                   
******************************************/
